{% extends 'base.html.twig' %}

{% block content %}
    <ul>
        <li><a href="{{ path('app_admin_read_category') }}">Catégories</a></li>
        <li><a href="{{ path('app_admin_read_category_type') }}">Type de catégorie</a></li>
    </ul>
{% endblock %}
