{% extends 'base.html.twig' %}

{% block content %}
    <a href="{{ path('app_admin_create_category') }}">Ajouter une nouvelle cagtégorie.</a>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_admin_update_category', {id: category.id}) }}">{{ category.name }}</a>
                <a href="{{ path('app_admin_delete_category', {id: category.id}) }}">Supprimer X</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
